/* mainBanner.css */

#mainBanner {
  position: relative;
  width: 100%;
  height: 500px;
  background: #f4f2f1;
  z-index: 100;
}

/* 폰트 적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 커스텀 */

/* 슬라이더 1 시작 */

.slider-1 {
  margin-left:380px;
  width: 62.5%;
  height: 400px;
  position: relative;
}


/* 슬라이더 1 - 페이지 버튼 */
.slider-1 > .page-btns {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.slider-1 > .page-btns > div {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

.slider-1 > .page-btns > div.active {
  background-color: rgba(255, 255, 255, 1);
}

/* 슬라이더 1 - 슬라이드 */

.slider-1 > .slides > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-1 > .slides > div.active {
  opacity: 1;
}

/* 슬라이더 좌우 버튼 */
.slider-1 > .side-btns > div {
  position: absolute;
  top: 0;
  left: 150px;
  width: 25%;
  height: 100%;
  cursor: pointer;
}
.slider-1 > .side-btns > div:last-child {
  left: 760px;
  right: 0;
}
.slider-1 > .side-btns > div > span {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translatey(-50%);
  background-color: white;
  opacity: 0.5;
  padding: 1px 13px;
  border-radius: 50px;
  font-size: 25px;
}
.slider-1 > .side-btns > div:last-child > span {
  left: auto;
  right: 20px;
}

/* 슬라이더 1 끝 */

/************* prev/next Button ************/
#prevNextBtnGroup {
  position: relative;
  z-index: 10;
}

#prevBtn {
  position: absolute;
  top: 240px;
  left: 2%;
  width: 65px;
  opacity: 0.6;
  cursor: pointer;
  color: red;
}

#nextBtn {
  position: absolute;
  top: 240px;
  right: 2%;
  width: 65px;
  opacity: 0.6;
  cursor: pointer;
  color: red;
}

#prevBtn:hover {
  opacity: 0.8;
}
#nextBtn:hover {
  opacity: 0.8;
}

/************* slideBanner ************/
#slideBannerGroup {
  width: 100%;
  height: 530px;
  overflow: hidden;
  text-align: center;
}

#slideBanner {
  position: relative;
  width: 7500px;
  height: 530px;
}

.bannerItems {
  float: left;
  width: 1500px;
  height: 530px;
}

/************* 배너 하단 control Button ************/
#bannerControlGroup {
  margin: 0 auto;
  width: 160px;
  text-align: center;
}

.bannerControl {
  margin: 15px 5px 0 5px;
  width: 12px;
  height: 12px;
}
